@font-face {
    font-family: "Montserrat";
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    src:
      url("../fonts/montserrat.woff2") format("woff2"),
      url("../fonts/montserrat.woff") format("woff");
  }

  @font-face {
    font-family: "Montserrat";
    font-weight: 500;
    font-style: normal;
    font-display: swap;
    src:
      url("../fonts/montserratmedium.woff2") format("woff2"),
      url("../fonts/montserratmedium.woff") format("woff");
  }

  @font-face {
    font-family: "Montserrat";
    font-weight: 600;
    font-style: normal;
    font-display: swap;
    src:
      url("../fonts/montserratsemibold.woff2") format("woff2"),
      url("../fonts/montserratsemibold.woff") format("woff");
  }

  @font-face {
    font-family: "Montserrat";
    font-weight: 700;
    font-style: normal;
    font-display: swap;
    src:
      url("../fonts/montserratbold.woff2") format("woff2"),
      url("../fonts/montserratbold.woff") format("woff");
  }

  @font-face {
    font-family: "Montserrat";
    font-weight: 800;
    font-style: normal;
    font-display: swap;
    src:
      url("../fonts/montserratextrabold.woff2") format("woff2"),
      url("../fonts/montserratextrabold.woff") format("woff");
  }