$mobile-width: 360px;
$tablet-width: 768px;
$desktop-width: 1920px;

$primary-color: #1C252E;
$green-color: #79B927;
$grey-color: #f6f6f6;
$lightgrey-color: #88929E;
$darkgrey-color: #5B6773;
$white-color: #ffffff;