.best {
    padding: 0 20px 20px;

    @media (min-width: $tablet-width) {
        padding: 0 50px 20px;
        background-color: $grey-color;
    }

    @media (min-width: $desktop-s-width) {
        padding-top: 60px;
    }

    @media (min-width: $desktop-width) {
        padding: 60px 165px 20px;
    }
}

.best_title {
    text-align: left;
}

.best_slider {

    @media (min-width: $desktop-width) {
        max-width: 1920px;
    }

    .sets_box {
        &::before {
            display: none;

            @media (min-width: $tablet-width) {
                display: block;
            }
        }
    }

    .sets_box {
        @media (min-width: $tablet-width) {
            display: grid;
            grid-template-columns: 1fr 1fr;
            column-gap: 25px;
        }

        @media (min-width: $desktop-s-width) {
            column-gap: 50px;
        }
    }

    .sets_buy {
        @media (min-width: $tablet-width) {
            display: flex;
            column-gap: 15px;
        }

        @media (min-width: $desktop-s-width) {
            align-self: flex-start;
        }
    }

    .sets_wrapper {
        @media (min-width: $tablet-width) {
            padding-top: 50px;

            .sets_course,
            .sets_name {
                margin-bottom: 0;
            }

            .sets_price {
                margin-bottom: 15px;
            }
        }

        @media (min-width: $desktop-s-width) {
            align-self: flex-end;
        }
    }

    .sets_wrap {
        @media (min-width: $tablet-width) {
            grid-area: 1/1/-3/2;
            display: flex;
            justify-content: center;
        }
    }

    .swiper-pagination {
        display: none;
        position: relative;

        @media (min-width: $tablet-width) {
            display: block;
            top: -60px;
            text-align: right;
            padding-right: 80px;
        }

        @media (min-width: $desktop-width) {
            padding-right: 6%;
        }
    }

    .swiper-pagination-fraction {
        font-weight: 700;
        font-size: 32px;
        color: #D9D9D9;
    }

    .sets_mark {
        display: none;

        @media (min-width: $desktop-s-width) {
            display: block;
            // z-index: 2;
        }
    }

    .swiper-button-next {
        &::after {
            display: none;
        }

        @media (min-width: $tablet-width) {
            top: 50px;
        }

        @media (min-width: $desktop-width) {
            top: 35px;
        }
    }
}