.footer {
    color: $darkgrey-color;
    font-size: 12px;
    line-height: 24px;
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: $primary-color;
    flex-grow: 0;
    flex-shrink: 0;

    @media (min-width: $desktop-s-width) {
        padding-top: 55px;
    }
}

.footer_wrap {
    margin-bottom: 35px;

    @media (min-width: $desktop-s-width) {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 45px;
    }
}

.footer_logo {
    margin-bottom: 25px;

    @media (min-width: $desktop-width) {
        display: block;
        width: 130px;
        height: 66px;
        margin-bottom: 0;
    }
}

.footer_nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    column-gap: 30px;
    row-gap: 20px;

    @media (min-width: $desktop-s-width) {
        justify-content: flex-end;
        column-gap: 30px;
    }

    @media (min-width: $desktop-width) {
        column-gap: 68px;
    }
}

.footer_link {
    font-weight: 600;
    text-transform: uppercase;
    color: $darkgrey-color;
    transition: color 0.3s ease-in-out;

    &:hover {
        color: $white-color;
    }

    @media (min-width: $desktop-width) {
        font-size: 16px;
    }
}

.footer_box {

    @media (min-width: $desktop-s-width) {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        margin-bottom: 55px;
    }
}

.footer_contacts {
    margin-bottom: 38px;

    @media (min-width: $desktop-s-width) {
        display: flex;
        justify-content: flex-end;
        flex-wrap: wrap;
        gap: 50px;
        margin-bottom: 0;
    }
}

.footer_contact {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
    transition: color 0.3s ease-in-out, stroke 0.3s ease-in-out;

    &:hover .footer_text {
        color: $white-color;
    }

    &:hover .footer_icon {
        stroke: $white-color;
    }

    @media (min-width: $desktop-s-width) {
        margin-bottom: 0;
    }
}

.footer_contact:last-child {
    margin-bottom: 0;
}

.footer_icon {
    stroke: $darkgrey-color;
    transition: all 0.3s ease;
}

.footer_text {
    font-style: normal;
    color: $darkgrey-color;
    transition: all 0.3s ease;
}

.footer_social {
    display: flex;
    margin-bottom: 30px;
    gap: 20px;

    .social_link:hover .social_icon {
        fill: $white-color;
        opacity: 1;
    }

    @media (min-width: $desktop-s-width) {
        margin-left: 70px;
        margin-bottom: 0;
    }
}

.footer_wrapper {
    @media (min-width: $desktop-s-width) {
        display: flex;
        justify-content: space-between;
    }
}

.footer_payment {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    margin-bottom: 25px;

    @media (min-width: $desktop-s-width) {
        order: 2;
    }
}