.header {
    @media (min-width: $desktop-width) {
        margin-bottom: 105px;
        background: linear-gradient(180deg, #f6f6f6 42px, #ffffff 42px);
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    }
}

.header-inner {
    @media (min-width: $desktop-width) {
        margin-bottom: 0;
    }
}

.header_container {

    @media (min-width: $tablet-width) {
        padding: 0 50px;
    }
        
    @media (min-width: $desktop-width) {
        display: flex;
        max-width: 1590px;
        margin: 0 auto;
        padding: 0 0 30px;

    }
}

.header_wrap {
    padding: 47px 20px 25px;
    display: flex;
    justify-content: space-between;

    @media (min-width: $desktop-width) {
        padding: 0;
        align-items: flex-end;
    }
}

.header_logo {
    transition: opacity 0.3s ease-in-out;
    &:hover {
        opacity: 0.4;
    }

    @media (min-width: $desktop-width) {
        width: 335px;
      }
}

.header-open {
    position: relative;
    width: 40px;
    height: 40px;
    background-color: inherit;
    outline: none;
    border: none;
    cursor: pointer;

    &::before {
        position: absolute;
        content: "";
        width: 40px;
        height: 4px;
        top: 23px;
        left: 0;
        background-color: $green-color;
    }

    &::after {
        position: absolute;
        content: "";
        width: 24px;
        height: 4px;
        right: 0;
        top: 33px;
        background-color: $darkgrey-color;

    }

    @media (min-width: $desktop-width) {
        display: none;
    }
}

.header-close {
    margin-left: auto;
    width: 24px;
    height: 24px;
    background-color: inherit;
    outline: none;
    border: none;
    cursor: pointer;
    background: no-repeat url(../img/close.svg) center;

    @media (min-width: $desktop-width) {
        display: none;
    }
}

.header_box {
    display: none;
    padding: 30px 20px 50px;
    position: absolute;
    top: 0;
    width: 100%;
    background-color: #ffffff;

    @media (min-width: $desktop-width) {
        position: static;
        display: grid;
        grid-template-columns: 6fr 1fr 1fr;
        grid-template-rows: 42px auto;
        padding: 0;
        background-color: transparent;
    }
}

.header_box-open {
    display: block;
    z-index: 2;

    @media (min-width: $tablet-width) {
        margin-left: -50px;
    }
}

.header_lang {
    display: flex;
    justify-content: space-between;
    margin-bottom: 80px;

    @media (min-width: $desktop-width) {
        grid-area: 1/3/2/4;
        justify-content: flex-end;
        margin: 0;
    }
}

.header_button {
    margin-right: 20px;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: $darkgrey-color;
    text-transform: uppercase;
    background-color: inherit;
    outline: none;
    border: none;
    cursor: pointer;

    &-active {
        font-weight: 600;
        color: #1C252E;
    }

    @media (min-width: $desktop-width) {
        margin-right: 0;
        padding: 0 5px;
        font-size: 14px;
    }
}

.header_phone {
    display: block;
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    color: $darkgrey-color;
    text-align: center;
    opacity: 0.4;
    transition: color 0.3s ease-in-out;

    &:hover {
        color: $green-color;
        opacity: 1;
    }

    @media (min-width: $desktop-width) {
        grid-area: 2/2/3/3;
        align-self: end;
        margin: 0;
        font-size: 16px;
        opacity: 1;
    }
}

.header_social {
    justify-content: center;
    align-items: center;
    gap: 30px;

    @media (min-width: $desktop-width) {
        grid-area: 1/2/2/3;
        justify-content: flex-end;
        align-self: center;
        gap: 10px;
    }
}