.input {
    font-family: "Montserrat", "Arial", sans-serif;
    font-weight: 700;
    font-size: 14px;
    width: 100%;
    min-height: 48px;
    padding: 13px 20px;
    border: 2px solid #D9D9D9;
    background-color: $white-color;
    appearance: none;
    color: #D9D9D9;

    &::placeholder {
        font-family: "Montserrat", "Arial", sans-serif;
        font-weight: 700;
        font-size: 14px;
        line-height: 24px;
        color: #D9D9D9;
    }

    &:focus {
        font-family: "Montserrat", "Arial", sans-serif;
        font-weight: 700;
        font-size: 14px;
        line-height: 24px;
        color: $primary-color;
        outline: none;
        border: 1px solid #79B927;
    }
}

.input-select {
    background-image: url("../img/dropdown.svg");
    background-repeat: no-repeat;
    background-position: right 10px center;
}

.input-s {
    margin-top: 10px;

    &::placeholder {
        font-size: 12px;
    }

    @media (min-width: $desktop-width) {
        &::placeholder {
            font-size: 14px;
        }
    }
}

input[name="note"] {
    margin-bottom: 15px;
}

.input-mark {
    position: absolute;
    width: 28px;
    height: 28px;
    left: 0;
    background-color: #D9D9D9;
    border-radius: 2px;

    @media (min-width: $desktop-width) {
        top: 0;
    }
}

input[type="checkbox"]:hover + .input-mark {
    background-color: $green-color;
}
input[type="checkbox"]:focus + .input-mark {
    background-color: $green-color;
}

input[type="checkbox"]:checked + .input-mark::before {
    position: absolute;
    content: "";
    top: 6px;
    left: 6px;
    width: 17px;
    height:13px;
    background-image: url("../img/checked.svg");
}

input[type="checkbox"]:checked + .input-mark{
    background-color: $green-color;
}

.input-quantity {
    width: 58px;
    min-height: 40px;
    padding: 10px;
    text-align: center;
    border-width: 1px;
    color: #383838;
    appearance:textfield;
}

input[type="number"] {
	-moz-appearance: textfield;
	-webkit-appearance: textfield;
	appearance: textfield;
}
 
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
	display: none;
}