.nav {
    display: flex;
    flex-direction: column-reverse;

    @media (min-width: $desktop-s-width) {
        grid-area: 2/1/3/-1;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-end;
        display: grid;
        grid-template-columns: 6fr 1.5fr 1fr;
        column-gap: 5px;
        padding-top: 70px;
    }

    @media (min-width: $desktop-width) {
        grid-template-columns: 6fr 1fr 1fr;
    }
}

.nav_list {
    @media (min-width: $desktop-s-width) {
        display: flex;
        justify-content: space-between;
    }
}

.nav_list-main {
    margin-left: 50px;
    margin-bottom: 50px;

    @media (min-width: $desktop-s-width) {
        margin: 0;
        flex-wrap: wrap;
        justify-content: flex-end;
        column-gap: 9px;
        row-gap: 5px;
    }

    @media (min-width: 1440px) {
        column-gap: 20px;
    }

    @media (min-width: $desktop-width) {
        row-gap: 15px;
        column-gap: 48px;
    }
}

.nav_list-user {
    @media (min-width: $desktop-s-width) {
        align-self: flex-end;
        column-gap: 30px;
        row-gap: 15px;
        justify-content: flex-end;
        flex-wrap: wrap;
    }
}

.nav_item {
    margin-bottom: 20px;

    @media (min-width: $desktop-s-width) {
        margin: 0;
    }
}

.nav_list-user .nav_item:first-child {
    margin-bottom: 25px;

    @media (min-width: $desktop-s-width) {
        margin: 0;
    }
}

.nav_link {
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    color: $primary-color;
    text-transform: uppercase;
    transition: color 0.3s ease;

    &:hover {
        color: $green-color;
    }

    @media (min-width: $desktop-s-width) and (max-width: $desktop-width) {
        font-size: 12px;
    }
}

.nav_link-user {
    position: relative;
    display: flex;
    justify-content: flex-start;

    &:hover {
        opacity: 1;
    }

    &:hover .nav_icon {
        stroke: $green-color;
    }
}



.nav_icon {
    fill: transparent;
    stroke-width: 2;
    stroke: $darkgrey-color;
    margin-right: 25px;
    transition: stroke 0.3s ease-in-out;

    @media (min-width: $desktop-s-width) {
        margin: 0;
    }
}

.nav_count {
    position: absolute;
    top: -7px;
    left: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    font-size: 11px;
    line-height: 22px;
    width: 16px;
    height: 16px;
    color: #ffffff;
    background-color: $green-color;
    border-radius: 50%;
}

.nav_text {
    @media (min-width: $desktop-s-width) {
        display: none;
    }
}