.promo {
    padding: 75px 20px;
    background: no-repeat url('../img/background/promo.png');
    background-size: 100%;

    @media (min-resolution: 2dppx) {
        background: no-repeat url('../img/background/promo@2x.png');
        background-size: 100%;
    }

    @media (min-width: $tablet-width) {
        padding: 30px 50px;
        background: no-repeat url('../img/background/promo-desktop.png');
        background-size: cover;

        @media (min-resolution: 2dppx) {
            background: no-repeat url('../img/background/promo-desktop@2x.png');
            background-size: cover;
        }
    }

    @media (min-width: $desktop-width) {
        padding-bottom: 0;
        margin-top: 105px;
    }
}

.promo_slider {
    @media (min-width: $desktop-width) {
        max-width: 1590px;
    }
}

.promo_container {

    @media (min-width: $tablet-width) {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    @media (min-width: $desktop-width) {
        padding-right: 120px;
    }
}

.promo_box {

    @media (min-width: $tablet-width) {
        max-width: 30%;
    }

    @media (min-width: $desktop-width) {
        max-width: 500px;
    }
}

.promo_note {
    position: relative;
    display: block;
    margin-bottom: 13px;
    font-weight: 600;
    font-size: 20px;
    color: $green-color;

    &::after {
        position: absolute;
        content: "";
        width: 170px;
        height: 2px;
        top: 12px;
        left: 100px;
        background-color: $green-color;
    }

    @media (min-width: $desktop-width) {
        &::after {
            width: 290px;
        }
    }
}

.promo_link {
    width: 100%;

    @media (min-width: $tablet-width) {
        width: max-content;
        margin-bottom: 10px;
    }

    @media (min-width: $desktop-width) {
        margin-bottom: 0;
    }

}

.promo_course {
    margin-bottom: 10px;


    @media (min-width: $desktop-width) {
        margin-bottom: 5px;

    }
}

.promo_name {
    margin-bottom: 20px;
    text-transform: uppercase;

    @media (min-width: $desktop-width) {
        margin-bottom: 5px;
    }
}

.promo_description {
    padding-right: 20px;
    margin-bottom: 20px;
    line-height: 26px;

    @media (min-width: $desktop-width) {
        margin-bottom: 25px;
    }
}

.promo_img {
    display: none;

    @media (min-width: $tablet-width) {
        display: block;
    }
}

.promo_photo {
    display: block;
    width: 690px;
}

.promo_slider .promo_button {
    display: none;

    @media (min-width: $desktop-s-width) {
        display: flex;
        position: absolute;
        top: 50%;
        transform: translateY(-20px);
        right: 0;
        z-index: 1;
    }
}