.questions {
    margin-bottom: 100px;

    @media (min-width: $desktop-width) {
        margin-bottom: 300px;
    }
}

.questions_list {
    padding: 40px 0 10px;

    @media (min-width: $desktop-width) {
        padding-top: 60px;
        max-width: 1010px;
        margin: 0 auto;
    }
}

.questions_wrap {

    max-width: 1010px;
    margin: 0 auto;

}

.questions_button {
    padding: 18px;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.1em;
    text-transform: uppercase;

    @media (min-width: $tablet-width) {
        width: max-content;
    }

    @media (min-width: $desktop-width) {
        padding: 18px 70px;
    }
}