.sets {
    position: relative;
    padding-bottom: 36px;
    overflow: hidden;

    @media (min-width: $tablet-width) {
        background-color: $grey-color;
    }

    @media (min-width: $desktop-s-width) {
        margin-bottom: 105px;
        padding-bottom: 0;
    }

    @media (min-width: $desktop-width) {
        margin-bottom: 105px;
    }
}

.sets_title {
    line-height: 30px;
    padding: 30px 0 60px;

    @media (min-width: $tablet-width) {
        padding-bottom: 30px;
    }

    @media (min-width: $desktop-width) {
        text-align: left;
        padding: 90px 165px 30px;
        margin-right: auto;
        margin-bottom: 0;
    }
}

.sets_button {
    margin-left: 115px;
}

.sets_box {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;

    &::before {
        position: absolute;
        content: "";
        width: 100%;
        height: 2px;
        top: -2px;
        left: 0;
        background-color: $primary-color;
    }

    @media (min-width: $desktop-s-width) {
        display: grid;
        grid-template-columns: 50% 50%;
        column-gap: 15px;
    }

    @media (min-width: $desktop-width) {
        max-width: 1920px;
        margin: 0 auto;
        column-gap: 32px;
    }
}

.sets_photo {
    display: block;
    margin-bottom: 30px;

    @media (min-width: $desktop-s-width) {
        width: 100%;
        margin-bottom: 0;
    }

    @media (min-width: $desktop-width) {
        width: 947px;
        height: 600px;
        margin-bottom: 0;
    }
}

.sets_content {
    max-width: 500px;
    padding: 0 16px 0 20px;

    @media (min-width: $desktop-width) {
        padding: 45px 0 0;
    }
}

.sets_course {
    margin-bottom: 10px;

    @media (min-width: $desktop-width) {
        margin-bottom: 0;
        line-height: 22px;
    }
}

.sets_name {
    margin-bottom: 15px;

    @media (min-width: $desktop-width) {
        margin-bottom: 10px;
    }
}

.sets_description {
    line-height: 26px;
    margin-bottom: 15px;

    @media (min-width: $desktop-width) {
        max-width: 405px;
    }
}

.sets_price {
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    color: $darkgrey-color;
    margin-bottom: 35px;

    @media (min-width: $desktop-width) {
        margin-bottom: 20px;
    }
}

.sets_buy {
    display: grid;
    grid-template-columns: 50% 50%;

    @media (min-width: $desktop-width) {
        column-gap: 10px;
        width: 450px;
    }
}

.sets_link {
    letter-spacing: 0.2rem;
    z-index: 1;
}

.sets_slider.swiper {
    @media (min-width: $desktop-width) {
        max-width: 1920px;
    }
}

.sets_slider {
    .swiper-pagination {
        position: relative;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin: 0;
        padding: 0 60px;
        row-gap: 10px;
        height: max-content;

        @media (min-width: $tablet-width) {
            justify-content: center;
        }

        @media (min-width: $desktop-s-width) {
            justify-content: flex-end;
            padding-right: 15%;
            padding-bottom: 15px;
        }

        @media (min-width: $desktop-width) {
            column-gap: 20px;
            padding-bottom: 0;
            top: -60px;
        }
    }


    .swiper-pagination-bullet {
        padding: 5px 10px;
        border-radius: 0;
        width: auto;
        height: 30px;
        color: #5B6773;
        background-color: transparent;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 600;
        font-size: 12px;
        line-height: 24px;
        opacity: 1;
        letter-spacing: 0.05em;
        text-transform: uppercase;

        @media (min-width: $desktop-s-width) {
            font-size: 18px;
            line-height: 24px;
        }
    }

    .swiper-pagination-bullet-active {
        font-weight: 700;
        color: #1C252E;
        text-decoration: $green-color underline 5px;
        text-underline-offset: 8px;

        @media (min-width: $desktop-s-width) {
            font-size: 18px;
            line-height: 24px;
        }
    }
}

.sets_button {
    display: none;

    @media (min-width: $desktop-s-width) {
        display: block;
        position: absolute;
        top: 75px;
        right: 7%;
        z-index: 10;
    }

    @media (min-width: $desktop-width) {
        top: 85px;
    }
}